// Este archivo se importa en .storybook/preview.scss

.sbdocs-preview {
  &.modal-preview > div > div {
    padding: 0;
    > div {
      margin: 0;
    }
  }

  .docs-modal-container {
    height: 350px;

    .modal {
      overflow-y: auto;
    }

    .modal-backdrop {
      max-width: 100%;
      max-height: 100%;
    }
  }
}
