html,
body {
  height: 100%;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@import "../src/components/Button/button.stories.scss";
@import "../src/components/Modal/modal.stories.scss";
