// =======================//
// Custom Styles
// =======================//

$blue: #2b94b3;
$indigo: #9b59b6;
$purple: #8337ad;
$pink: #f54789;
$red: #bf3030;
$orange: #cc9315;
$yellow: #fdd306;
$green: #269937;
$teal: #18b596;
$cyan: #2fa5b2;
$gray: #8f9899;

$primary: $purple;
$secondary: $gray;
$success: $green;
$info: $orange;
$warning: $orange;
$danger: $red;

@import "../../node_modules/bootstrap/scss/bootstrap";
